<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BeautyQuotient</display-name>
  <welcome-file-list>
    <welcome-file>welcome1.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaRegistration</display-name>
    <servlet-name>AreaRegistration</servlet-name>
    <servlet-class>com.ikonique.servlet.AreaRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaRegistration</servlet-name>
    <url-pattern>/AreaRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaName</display-name>
    <servlet-name>AreaName</servlet-name>
    <servlet-class>com.ikonique.servlet.AreaName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaName</servlet-name>
    <url-pattern>/AreaName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDetails</display-name>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
    <url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserRecord</display-name>
    <servlet-name>DeleteUserRecord</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteUserRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserRecord</servlet-name>
    <url-pattern>/DeleteUserRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateOtpPass</display-name>
    <servlet-name>GenerateOtpPass</servlet-name>
    <servlet-class>com.ikonique.servlet.GenerateOtpPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateOtpPass</servlet-name>
    <url-pattern>/GenerateOtpPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrialServlet</display-name>
    <servlet-name>TrialServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.TrialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrialServlet</servlet-name>
    <url-pattern>/TrialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmail</display-name>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>com.ikonique.servlet.CheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/CheckEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.ikonique.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserDetails</display-name>
    <servlet-name>SelectUserDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserDetails</servlet-name>
    <url-pattern>/SelectUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDesignerDetails</display-name>
    <servlet-name>SelectDesignerDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectDesignerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDesignerDetails</servlet-name>
    <url-pattern>/SelectDesignerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCategoryDetails</display-name>
    <servlet-name>SelectCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCategoryDetails</servlet-name>
    <url-pattern>/SelectCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubCategoryDetails</display-name>
    <servlet-name>SelectSubCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectSubCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubCategoryDetails</servlet-name>
    <url-pattern>/SelectSubCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProduct</display-name>
    <servlet-name>InsertProduct</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProduct</servlet-name>
    <url-pattern>/InsertProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProductsDetails</display-name>
    <servlet-name>InsertProductsDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertProductsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProductsDetails</servlet-name>
    <url-pattern>/InsertProductsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProductDetails</display-name>
    <servlet-name>SelectProductDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProductDetails</servlet-name>
    <url-pattern>/SelectProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubcategory</display-name>
    <servlet-name>SelectSubcategory</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectSubcategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubcategory</servlet-name>
    <url-pattern>/SelectSubcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOfferDetails</display-name>
    <servlet-name>SelectOfferDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectOfferDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOfferDetails</servlet-name>
    <url-pattern>/SelectOfferDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectCategoryDetails</display-name>
    <servlet-name>DelectCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DelectCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectCategoryDetails</servlet-name>
    <url-pattern>/DelectCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectSubCategoryDetails</display-name>
    <servlet-name>DelectSubCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DelectSubCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectSubCategoryDetails</servlet-name>
    <url-pattern>/DelectSubCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductDetails</display-name>
    <servlet-name>DeleteProductDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductDetails</servlet-name>
    <url-pattern>/DeleteProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOfferDetails</display-name>
    <servlet-name>DeleteOfferDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteOfferDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOfferDetails</servlet-name>
    <url-pattern>/DeleteOfferDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductsDetails</display-name>
    <servlet-name>EditProductsDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditProductsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductsDetails</servlet-name>
    <url-pattern>/EditProductsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductsDetails</display-name>
    <servlet-name>UpdateProductsDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.UpdateProductsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductsDetails</servlet-name>
    <url-pattern>/UpdateProductsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSubCategoryDetails</display-name>
    <servlet-name>EditSubCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditSubCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubCategoryDetails</servlet-name>
    <url-pattern>/EditSubCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductDetails</display-name>
    <servlet-name>EditProductDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductDetails</servlet-name>
    <url-pattern>/EditProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOfferDetails</display-name>
    <servlet-name>EditOfferDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditOfferDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOfferDetails</servlet-name>
    <url-pattern>/EditOfferDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProductLandDetails</display-name>
    <servlet-name>SelectProductLandDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectProductLandDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProductLandDetails</servlet-name>
    <url-pattern>/SelectProductLandDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.ikonique.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDeleteProductInWishlist</display-name>
    <servlet-name>InsertDeleteProductInWishlist</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertDeleteProductInWishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDeleteProductInWishlist</servlet-name>
    <url-pattern>/InsertDeleteProductInWishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectWishlistDetails</display-name>
    <servlet-name>SelectWishlistDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectWishlistDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectWishlistDetails</servlet-name>
    <url-pattern>/SelectWishlistDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectParticularProduct</display-name>
    <servlet-name>SelectParticularProduct</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectParticularProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectParticularProduct</servlet-name>
    <url-pattern>/SelectParticularProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFeedback</display-name>
    <servlet-name>InsertFeedback</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFeedback</servlet-name>
    <url-pattern>/InsertFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFeedBackDetails</display-name>
    <servlet-name>SelectFeedBackDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectFeedBackDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFeedBackDetails</servlet-name>
    <url-pattern>/SelectFeedBackDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFeedbackLand</display-name>
    <servlet-name>SelectFeedbackLand</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectFeedbackLand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFeedbackLand</servlet-name>
    <url-pattern>/SelectFeedbackLand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedback</display-name>
    <servlet-name>DeleteFeedback</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedback</servlet-name>
    <url-pattern>/DeleteFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDesigner</display-name>
    <servlet-name>SelectDesigner</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectDesigner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDesigner</servlet-name>
    <url-pattern>/SelectDesigner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishlistDetail</display-name>
    <servlet-name>DeleteWishlistDetail</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteWishlistDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishlistDetail</servlet-name>
    <url-pattern>/DeleteWishlistDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProductInCart</display-name>
    <servlet-name>InsertProductInCart</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertProductInCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProductInCart</servlet-name>
    <url-pattern>/InsertProductInCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCartDetails</display-name>
    <servlet-name>SelectCartDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectCartDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCartDetails</servlet-name>
    <url-pattern>/SelectCartDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartDetail</display-name>
    <servlet-name>DeleteCartDetail</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteCartDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartDetail</servlet-name>
    <url-pattern>/DeleteCartDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBookingDetails</display-name>
    <servlet-name>InsertBookingDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertBookingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBookingDetails</servlet-name>
    <url-pattern>/InsertBookingDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectPerticularDesigner</display-name>
    <servlet-name>SelectPerticularDesigner</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectPerticularDesigner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPerticularDesigner</servlet-name>
    <url-pattern>/SelectPerticularDesigner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDeleteProductInCart</display-name>
    <servlet-name>InsertDeleteProductInCart</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertDeleteProductInCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDeleteProductInCart</servlet-name>
    <url-pattern>/InsertDeleteProductInCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProductFeedBacks</display-name>
    <servlet-name>SelectProductFeedBacks</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectProductFeedBacks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProductFeedBacks</servlet-name>
    <url-pattern>/SelectProductFeedBacks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBookingDetails</display-name>
    <servlet-name>SelectBookingDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectBookingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBookingDetails</servlet-name>
    <url-pattern>/SelectBookingDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBookingInfoDetails</display-name>
    <servlet-name>SelectBookingInfoDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectBookingInfoDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBookingInfoDetails</servlet-name>
    <url-pattern>/SelectBookingInfoDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectRoomDesign</display-name>
    <servlet-name>SelectRoomDesign</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectRoomDesign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRoomDesign</servlet-name>
    <url-pattern>/SelectRoomDesign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOrderDetails</display-name>
    <servlet-name>InsertOrderDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrderDetails</servlet-name>
    <url-pattern>/InsertOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEnquiry</display-name>
    <servlet-name>SendEnquiry</servlet-name>
    <servlet-class>com.ikonique.servlet.SendEnquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEnquiry</servlet-name>
    <url-pattern>/SendEnquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfCartProduct</display-name>
    <servlet-name>ListOfCartProduct</servlet-name>
    <servlet-class>com.ikonique.servlet.ListOfCartProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfCartProduct</servlet-name>
    <url-pattern>/ListOfCartProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderTableDetails</display-name>
    <servlet-name>SelectOrderTableDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectOrderTableDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderTableDetails</servlet-name>
    <url-pattern>/SelectOrderTableDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderDetails</display-name>
    <servlet-name>SelectOrderDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderDetails</servlet-name>
    <url-pattern>/SelectOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfterPaymentProcess</display-name>
    <servlet-name>AfterPaymentProcess</servlet-name>
    <servlet-class>com.ikonique.servlet.AfterPaymentProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterPaymentProcess</servlet-name>
    <url-pattern>/AfterPaymentProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceFilterForProduct</display-name>
    <servlet-name>PriceFilterForProduct</servlet-name>
    <servlet-class>com.ikonique.servlet.PriceFilterForProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceFilterForProduct</servlet-name>
    <url-pattern>/PriceFilterForProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateOrderInvoice</display-name>
    <servlet-name>GenerateOrderInvoice</servlet-name>
    <servlet-class>com.ikonique.servlet.GenerateOrderInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateOrderInvoice</servlet-name>
    <url-pattern>/GenerateOrderInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReportForAdmin</display-name>
    <servlet-name>GenerateReportForAdmin</servlet-name>
    <servlet-class>com.ikonique.servlet.GenerateReportForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReportForAdmin</servlet-name>
    <url-pattern>/GenerateReportForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.ikonique.servlet.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
</web-app>